## Overzicht

{% if technologies %}
Aantal opgenomen technologieën: {{ technologies | length }}.

| Technologie | Type | Gebruiksstatus | Licentievorm | Bijgewerkt op |
|---|---|---|---|---|
{% for tech in technologies %}
| [{{ tech.naam | default(tech.id) }}](#{{ tech.anchor }}) | {{ tech.typeLabel | default('') }} | {{ tech.gebruiksstatusLabel | default('') }} | {{ tech.licentievormLabel | default('') }} | {{ tech.bijgewerktOp | default('') }} |
{% endfor %}
{% else %}
Er zijn geen juridische technologieën gevonden in de ABox.
{% endif %}